USE [NorthwindDW]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 2026-08-26 10:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[City] [nvarchar](15) NULL,
	[Country] [nvarchar](15) NULL,
	[CustomerSegment] [nvarchar](50) NOT NULL,
	[EffectiveFromUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DimCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimCustomer_CustomerID] UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 2026-08-26 10:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[MonthName] [nvarchar](20) NOT NULL,
	[Week] [tinyint] NOT NULL,
	[DayOfMonth] [tinyint] NOT NULL,
	[DayName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 2026-08-26 10:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryName] [nvarchar](15) NULL,
	[UnitPrice] [decimal](19, 4) NULL,
	[Discontinued] [bit] NOT NULL,
	[EffectiveFromUtc] [datetime2](0) NOT NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[CountryOfOrigin] [nvarchar](100) NULL,
	[SupplierProductCode] [nvarchar](100) NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimProduct_ProductID] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 2026-08-26 10:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[SalesKey] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OrderLineNumber] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[UnitPrice] [decimal](19, 4) NOT NULL,
	[Discount] [decimal](5, 4) NOT NULL,
	[GrossAmount] [decimal](19, 4) NOT NULL,
	[NetAmount] [decimal](19, 4) NOT NULL,
	[LoadedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_FactSales] PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FactSales_OrderLine] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC,
	[OrderLineNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCatalog_Extra]    Script Date: 2026-08-26 10:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCatalog_Extra](
	[ProductID] [int] NULL,
	[CostPrice] [nvarchar](50) NULL,
	[CountryOfOrigin] [nvarchar](100) NULL,
	[SupplierProductCode] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StgCustomerSegment]    Script Date: 2026-08-26 10:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StgCustomerSegment](
	[CustomerID] [nchar](5) NULL,
	[CustomerSegment] [nvarchar](50) NULL,
	[SourceFileName] [nvarchar](260) NULL,
	[LoadedAtUtc] [datetime2](0) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimCustomer] ADD  CONSTRAINT [DF_DimCustomer_Segment]  DEFAULT (N'UNKNOWN') FOR [CustomerSegment]
GO
ALTER TABLE [dbo].[DimCustomer] ADD  CONSTRAINT [DF_DimCustomer_EffectiveFromUtc]  DEFAULT (sysutcdatetime()) FOR [EffectiveFromUtc]
GO
ALTER TABLE [dbo].[DimProduct] ADD  CONSTRAINT [DF_DimProduct_EffectiveFromUtc]  DEFAULT (sysutcdatetime()) FOR [EffectiveFromUtc]
GO
ALTER TABLE [dbo].[FactSales] ADD  CONSTRAINT [DF_FactSales_LoadedAtUtc]  DEFAULT (sysutcdatetime()) FOR [LoadedAtUtc]
GO
ALTER TABLE [dbo].[StgCustomerSegment] ADD  CONSTRAINT [DF_StgCustomerSegment_LoadedAtUtc]  DEFAULT (sysutcdatetime()) FOR [LoadedAtUtc]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimCustomer] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimCustomer]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimDate] FOREIGN KEY([DateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimDate]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimProduct] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimProduct]
GO
